<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-tiket-heading" data-cy="TiketCreateUpdateHeading" jhiTranslate="trainProyectApp.tiket.home.createOrEditLabel">
        Create or edit a Tiket
      </h2>

      <div>
        <jhi-alert></jhi-alert>

        <div class="col-md-6 form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row">
          <div class="col-md-6 form-group">
            <label class="form-control-label" for="field_Cliente">Cliente</label>
            <select type="text" class="form-control" name="cliente" id="field_cliente" data-cy="cliente" formControlName="clienteId">
              <option [value]="cliente.id" *ngFor="let cliente of clientes">{{ cliente.nombre }}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 form-group">
            <label class="form-control-label" for="field_tren">Tren</label>
            <select
              type="text"
              class="form-control"
              name="tren"
              id="field_tren"
              data-cy="tren"
              formControlName="trenId"
              (blur)="cargarPuesto()"
            >
              <option [value]="tren.id" *ngFor="let tren of trenes">{{ tren.id }}</option>
            </select>
          </div>

          <div class="col-md-6 form-group">
            <label class="form-control-label" for="field_asiento">Asientos Totales</label>
            <input
              [readonly]="true"
              type="number"
              class="form-control"
              name="asiento"
              id="field_asiento"
              data-cy="asiento"
              formControlName="asiento"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 form-group">
            <label class="form-control-label" jhiTranslate="trainProyectApp.tiket.puesto" for="field_puesto">Puesto</label>
            <input
              max="30"
              min="1"
              type="number"
              class="form-control"
              name="puesto"
              id="field_puesto"
              data-cy="puesto"
              formControlName="puesto"
            />
          </div>

          <div class="col-md-6 form-group">
            <label class="form-control-label" for="field_estado">Estado Tiquete</label>
            <select
              type="text"
              class="form-control"
              name="estado"
              id="field_estado"
              data-cy="estado"
              formControlName="estado"
              (blur)="calcularPrecioTotal()"
            >
              <option [value]="tipo" *ngFor="let tipo of estadoTiket">{{ tipo }}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 form-group">
            <label class="form-control-label" for="field_jordana">Jornada</label>
            <select
              type="text"
              class="form-control"
              name="jordana"
              id="field_jordana"
              data-cy="jordana"
              formControlName="jordana"
              (blur)="calcularPrecioTotal()"
            >
              <option [value]="tipo" *ngFor="let tipo of tipoJornada">{{ tipo }}</option>
            </select>
          </div>

          <div class="form-group">
            <label class="form-control-label" jhiTranslate="trainProyectApp.tiket.fecha" for="field_fecha">Fecha</label>
            <div class="d-flex">
              <input
                id="field_fecha"
                data-cy="fecha"
                type="datetime-local"
                class="form-control"
                name="fecha"
                formControlName="fecha"
                placeholder="YYYY-MM-DD HH:mm"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 form-group">
            <label class="form-control-label" for="field_precioTiket">Precio Tiket</label>
            <input
              type="number"
              class="form-control"
              name="precioTiket"
              id="field_precioTiket"
              data-cy="precioTiket"
              formControlName="precioTiket"
              ngModel="precioTiket"
              (blur)="calcularPrecioTotal()"
              readonly="true"
            />
          </div>

          <div class="col-md-6 form-group">
            <label class="form-control-label" for="field_precioTotal">Precio Total</label>
            <input
              readonly="true"
              type="number"
              class="form-control"
              name="precioTotal"
              id="field_field_precioTotal"
              data-cy="precioTotal"
              formControlName="precioTotal"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
