<div>
  <h2 id="page-heading" data-cy="TiketHeading">
    <span jhiTranslate="trainProyectApp.tiket.home.title">Tikets</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="trainProyectApp.tiket.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tiket"
        [routerLink]="['/tiket/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="trainProyectApp.tiket.home.createLabel"> Create a new Tiket </span>
      </button>
    </div>
  </h2>

  <h2 id="page-heading" data-cy="TiketHeading">
    <span>TIQUETES RESERVADOS HASTA EL MOMENTO: </span>
  </h2>
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tikets?.length === 0">
    <span>Aun no hay tiquetes reservados.</span>
  </div>

  <div class="row">
    <div class="col-md-4 form-group">
      <label class="form-control-label" for="field_fechaI">Fecha inicio</label>
      <div class="d-flex">
        <input
          id="field_fechaI"
          data-cy="fechaI"
          type="datetime-local"
          class="form-control"
          name="fechaI"
          [(ngModel)]="fechaI"
          placeholder="YYYY-MM-DD HH:mm"
        />
      </div>
    </div>

    <div class="col-md-4 form-group">
      <label class="form-control-label" for="field_fechaF">Fecha fin</label>
      <div class="d-flex">
        <input
          id="field_fechaF"
          data-cy="fechaF"
          type="datetime-local"
          class="form-control"
          name="fechaF"
          [(ngModel)]="fechaF"
          placeholder="YYYY-MM-DD HH:mm"
        />
      </div>
    </div>

    <div>
      <br />
      <button [disabled]="isLoading" style="margin-top: 7px" id="jh-create-entity" class="btn btn-primary" (click)="cargarTiketFechas()">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span> Filtrar </span>
      </button>
    </div>
  </div>

  <div class="d-flex justify-content-end mb-5">
    <button style="margin-top: 7px" id="jh-create-entity" class="btn btn-outline-info mr-2" (click)="findAllTikets()">
      <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
      <span>Ver tikets en espera o no disponibles</span>
    </button>

    <button style="margin-top: 7px" id="jh-create-entity" class="btn btn-outline-info" (click)="loadAll()">
      <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
      <span>Tikets Activos.</span>
    </button>
  </div>

  <div *ngIf="tiketFechas && tiketFechas.length > 0">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"><span>Cliente </span></th>
          <th scope="col"><span jhiTranslate="trainProyectApp.tiket.puesto">Puesto</span></th>
          <th scope="col"><span jhiTranslate="trainProyectApp.tiket.estado">Estado</span></th>
          <th scope="col"><span jhiTranslate="trainProyectApp.tiket.jordana">Jornada</span></th>
          <th scope="col"><span>Precio Total</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tiketfecha of tiketFechas">
          <td>{{ tiketfecha.nombreCliente }}</td>
          <td>{{ tiketfecha.puesto }}</td>
          <td>{{ tiketfecha.estado }}</td>
          <td>{{ tiketfecha.jornada }}</td>
          <td>{{ tiketfecha.precioTotal }}</td>
          <td class="text-right"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tikets && tikets.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="trainProyectApp.tiket.fecha">Fecha</span></th>
          <th scope="col"><span jhiTranslate="trainProyectApp.tiket.trenId">Tren Id</span></th>
          <th scope="col"><span jhiTranslate="trainProyectApp.tiket.clienteId">Cliente Id</span></th>
          <th scope="col"><span jhiTranslate="trainProyectApp.tiket.puesto">Puesto</span></th>
          <th scope="col"><span jhiTranslate="trainProyectApp.tiket.estado">Estado</span></th>
          <th scope="col"><span jhiTranslate="trainProyectApp.tiket.jordana">Jordana</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tiket of tikets; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tiket', tiket.id, 'view']">{{ tiket.id }}</a>
          </td>
          <td>{{ tiket.fecha | formatMediumDatetime }}</td>
          <td>{{ tiket.trenId }}</td>
          <td>{{ tiket.nombreCliente }}</td>
          <td>{{ tiket.puesto }}</td>
          <td>{{ tiket.estado }}</td>
          <td>{{ tiket.jordana }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/tiket', tiket.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/tiket', tiket.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(tiket)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
