<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-cliente-heading" data-cy="ClienteCreateUpdateHeading" *ngIf="editForm.get('id')!.value === null">Crear Cliente</h2>
      <h2 id="jhi-cliente-heading" data-cy="ClienteCreateUpdateHeading" *ngIf="editForm.get('id')!.value">Actualizar Cliente</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="col-md-5 form-group">
          <label class="form-control-label" for="field_foto">Foto</label>
          <br />
          <input type="file" accept="image/jpeg" (change)="onFileSelected($event)" class="file-input" />
        </div>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="trainProyectApp.cliente.nombre" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_apellido">Apellido</label>
          <input type="text" class="form-control" name="apellido" id="field_apellido" data-cy="apellido" formControlName="apellido" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_tipoCliente">Tipo Cliente</label>
          <select class="form-control" name="tipoCliente" id="tipoCliente" formControlName="tipoCliente" data-cy="tipoCliente">
            <option [value]="tipo" *ngFor="let tipo of tipoCliente">{{ tipo }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="trainProyectApp.cliente.correo" for="field_correo">Correo</label>
          <input type="email" class="form-control" name="correo" id="field_correo" data-cy="correo" formControlName="correo" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
